In [22]:
class PDBColumns:
    ATOM = 0
    ATOM_NUM = 1
    ATOM_TYPE = 2
    AMINO_ACID = 3
    RESIDUE_NUM = 5
    X = 6
    Y = 7
    Z = 8


def parse_line(line: str):
    parsed = [char for char in line.rstrip("\n").split(" ") if char != ""]
    return parsed


def one_model_read(pdb_file="../data/test.pdb"):
    with open(pdb_file) as infile:
        parsed = []
        for line in infile.readlines():
            d = parse_line(line)
            if len(d) >= 4 and d[PDBColumns.ATOM_TYPE] == "CA":
                amino_acid = d[PDBColumns.AMINO_ACID]
                loc = (
                    float(d[PDBColumns.X]),
                    float(d[PDBColumns.Y]),
                    float(d[PDBColumns.Z]),
                )
                parsed.append((amino_acid, loc))
        return parsed


len(one_model_read())

224

In [26]:
from biopandas.pdb import PandasPdb
def carbon_alphas(pdb_file="../data/test.pdb"):
	ppdb = PandasPdb().read_pdb(pdb_file)
	df = ppdb.df["ATOM"]
	df_ca = df[df["atom_name"] == "CA"].sort_values(by="residue_number")
	return df_ca[["residue_name", "x_coord", "y_coord", "z_coord"]]
carbon_alphas()

     residue_name  x_coord  y_coord  z_coord
1             ASN  -64.535   -2.678   12.067
9             CYS  -61.344   -3.432    9.960
15            ASP  -58.805   -2.018   12.448
23            SER  -55.823   -1.570   10.017
29            ILE  -52.999   -2.804   12.231
...           ...      ...      ...      ...
1817          ALA   21.418    8.623   -0.459
1822          ALA   23.691    5.503   -0.732
1827          VAL   25.079    6.494   -4.188
1834          ARG   26.470    9.881   -2.931
1845          GLY   29.524    8.013   -1.446

[224 rows x 4 columns]