In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../website/backend/data/embed-sub-venome-2D-8.parquet")

In [3]:
df

                            name         x         y
0               pdb1a5k.ent.gz_A  3.550168 -0.774960
1               pdb1avz.ent.gz_A  3.431394 -3.226690
2               pdb1ayb.ent.gz_A -0.010471 -0.011973
3       pdb1c7m.ent.gz_MODEL_1_A  2.745709 -5.214051
4               pdb1dbd.ent.gz_A  1.480514 -0.238307
...                          ...       ...       ...
271679   Gh_comp1523_c0_seq1.pdb  0.247421  3.300046
271680   Gh_comp1523_c0_seq1.pdb  1.511452 -2.213456
271681   Gh_comp1523_c0_seq1.pdb -1.212144  2.765270
271682   Gh_comp1523_c0_seq1.pdb -0.558069  3.197020
271683   Gh_comp1523_c0_seq1.pdb  1.887664 -1.637877

[271684 rows x 3 columns]

In [5]:
len(df["name"])

271684